<style>
 body {
 
 background-color: #666666;
 }
.container-fluid {
  	background-color: ;
   }
.mynewimage {
height: auto;
width: 100%;
max-width: 800px;
}
.back {
height: 30px;
width: 30px;
float:right:
}
</style>